*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(31, 26, 26);
}
.Top{
    display:flex;
    margin:10px 2px 50px 1px;
}
.heading{
    color:lightgrey;
    font-size:40px;
    margin:20px;
}
.icons{
    display: flex;
    position:relative;
    left:850px;
    top:32px;
    color:lightgrey;
}
.search{
    position:relative;
    left:90px;
    font-size: 20px;  
    height: 20px;
    cursor: pointer;  
}
.cart{
    position: relative;
    left: 140px;
    font-size: 20px;
    height: 20px;
    cursor: pointer;
}
.user{
    position: relative;
    left: 190px;
    font-size: 20px;
    height: 20px;
    cursor: pointer;
}
 .hide1{
    visibility:hidden;
    position: absolute;
    top: 21px;
    z-index: 1000;
    right: 0px;
    width: 223px; 
    border: 2px solid gray;  
}
.user:hover  .hide1 {
    opacity: 1;
    visibility: visible; 
} 
.body1{
    color:lightgrey;
    font-weight: bold;
    display: flex;
}
.content1{
    margin:27px 40px 100px 100px;
}
.title1{
    font-size: 28px;
}
.discription1{
    font-size: 60px;
}
.button1{
    background-color: red;
    color:rgba(192, 182, 182, 0.952);
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    border:solid rgb(31, 26, 26);
}
.boat1{
    display:flex;
    font-size: 28px;
    margin: 10px 5px 20px 0px;  
 }
.boat1discountprice{
    margin:7px 5px 7px 7px;
}
.boat1price{
    font-size: 23px;
    margin:10px 8px 8px 8px;
    text-decoration: line-through;
    color:rgb(113, 116, 106);
    font-weight: bold;
}
.TSimage1{
    height:420px;
    width:530px;
    position: relative;
    left: -28%;
    top: -4%;
}
.heading2{
     color:lightgrey;
     text-align: center;
     font-size: 35px;
}   
.body2flex{
    display:flex;
    color:lightgrey;
}
.FPimg1{
    height: 100px;
    width:100px;
}
.FPimg2{
    height: 175px;
    width: 185px;
    position: relative;
    right: 16px;
}
.FPimg3{
    height:250px;
    width:250px;
    position: relative;
    right: 20px;
} 
.FPimg4{
    height: 173px;
    width: 181px;
    position: relative;
    right: 17px;
}  
.FPimg5{
    height: 100px;
    width:100px;
} 
.FP1{
    position: relative;
    left:60px;
    top: 80px;
    width: 10%;
    top:100px;
} 
.FP2{
    position: relative;
    left:140px;
    height: 300px;
    top: 65px;
    font-size:large;
    width: 15%;
}
.FP3{
    position: relative;
    left:226px;
    height: 400px;
    font-size:x-large;
}
.FP4{
    position: relative;
    left:290px;
    height: 300px;
    top: 65px;
    font-size:large;
    width: 15%;
}
.FP5{
    position: relative;
    left:360px;
    top:80px;
    width: 10%;
    top:100px;
}
.JBL1,.JBL2,.JBL3,.JBL4,.JBL5{
    display:flex;  
 }
.JBL1discountprice{
    margin:7px 5px 7px 7px;
    font-size: 18px;
}
.JBL1price{
    font-size: 15px;
    margin:9px 8px 8px 5px;
    text-decoration: line-through;
    color:rgb(113, 116, 106);
    font-weight: bold;
}
.JBL2discountprice{
    margin:7px 5px 7px 7px;
    font-size: 25px;
}
.JBL2price{
    font-size: 20px;
    margin:9px 8px 8px 5px;
    text-decoration: line-through;
    color:rgb(113, 116, 106);
    font-weight: bold;
}
.JBL3discountprice{
    margin:7px 5px 7px 7px;
    font-size: 40px;
}
.JBL3price{
    font-size: 33px;
    margin:14px 8px 8px 5px;
    text-decoration: line-through;
    color:rgb(113, 116, 106);
    font-weight: bold;
}
.JBL4discountprice{
    margin:7px 5px 7px 7px;
    font-size: 25px;
}
.JBL4price{
    font-size: 20px;
    margin:9px 8px 8px 5px;
    text-decoration: line-through;
    color:rgb(113, 116, 106);
    font-weight: bold;
}
.JBL5discountprice{
    margin:7px 5px 7px 7px;
    font-size: 18px;
}
.JBL5price{
    font-size: 15px;
    margin:9px 8px 8px 5px;
    text-decoration: line-through;
    color:rgb(113, 116, 106);
    font-weight: bold;
}
.heading3{
    text-align: center;
    margin: 75px;
    color:lightgrey;
}
.TPdiv{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
}
.TPbutton1,.TPbutton2,.TPbutton3,.TPbutton4,.TPbutton5{
    border:none;
    color: lightgrey;
    font-size: 20px;
    background-color:rgb(31, 26, 26);
}
.TPbutton1{
    background-color:red;
    color:white;
    border-radius:2px;
    padding:5px 10px 5px 10px;
}
.TPbutton2:hover,.TPbutton3:hover,.TPbutton4:hover,.TPbutton5:hover{ 
    background-color:red;
    color:white;
    transition-delay:5ms;
    border-radius:2px;
    padding:5px 10px 5px 10px;
}
.body4{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.TPimg1{
    height:200px;
    width:200px;
    background-color: rgba(61, 58, 56, 0.171);
}
.b4div1{
    border: 2px solid gray;
    margin:5px;
    padding:5px;
    /* justify-self: center; */         
}
.TPimgdiv{
    text-align: center;
    width:305px;
    background-color: rgba(219, 207, 199, 0.171);
}
.fa-star{
    color:red;
    font-size: 12px;
}
.TP1pricediv{
    display: flex;
}
.TP1discountprice{
    margin:7px 5px 7px 7px;
    font-size: 25px;
    color:lightgray
}
.TP1price{
    font-size: 20px;
    margin:9px 8px 8px 5px;
    text-decoration: line-through;
    color:rgb(113, 116, 106);
    font-weight: bold;
}
.TP1heading{
    font-size: 30px;
    color: lightgray;
}
.TP1aside{
    color:rgb(113, 116, 106);
    font-size: 25px;
}
.TPCart1{
    color: lightgray;
    background-color: red;
    padding: 5px;
    width: 271px;
    border-radius: 5px;
    border: none;
    height: 40px;
    font-size: 20px;
}
.TPCartDiv1{
     text-align: center;
}
.TPcontentdiv{
    margin:15px;
}
.b4divlast{
    font-size: 30px;
    text-align:center;
    color: lightgray;
    border: 2px solid gray;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-self: center; */
    /* justify-self: center; */
}
/* .b4lastaside,.fa-arrow-right{
    position:relative;
    /* top:270px;  */
    /* justify-self: center; */
    /* place-self: center; */
/* } */ 
.b4divlastsub{
    text-align: center;
    /* justify-self: center; */
    /* place-self: center; */
}
.heading4{
    text-align: center;
    font-size: 35px;
    color:lightgray;
}
.AdvantagesDiv{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
}
.truckdiv{
    display: flex;
}
.fa-truck,.fa-shield-halved,.fa-tags,.fa-credit-card{
    color: red;
    font-size: 33px;
    margin:10px 20px 10px 10px;
}
.OAiconheading{
    font-size: 23px;
    color:lightgray
}
.OAIconContent{
    font-size:18px;
    color:rgb(113, 116, 106);
}
.body6{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: rgb(0, 0, 0);
    z-index: 100000;
    padding: 10px;
}
span{
    color: lightgrey; 
    font-size: 20px; 
}
.footerDiv1,.footerDiv2,.footerDiv3,.footerDiv4{
    color:rgb(113, 116, 106);        }
footer input{
    margin: 5px;
    background-color:black ;
    border:solid rgb(62, 58, 58);
    padding: 10px;
    border-radius: 5px;
    width:250px;
}
footer button{
    margin: 5px;
    background-color:rgb(226, 9, 9) ;
    border:solid rgb(255, 14, 14);
    padding: 5px;
    color: white;
    border-radius: 5px;
}
.footerDiv1{
    width:500px;
}
a{
    color:lightgray;
}
.footer2div{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
.footericons{
    color:rgb(113, 116, 106); ;
    margin: 20px 20px 20px 450px;

}
.footer2{
    background-color: rgb(0, 0, 0);
}
.footerspan{
    margin:20px;
    color:rgb(113, 116, 106); 
    padding: 10px 0px;
}
.footericons i{
   padding:10px;
   font-size: 20px;
}